<?xml version="1.0"?>

<!--
						 _ _  _     
		       ____ ___  ___  __________(_|_)(_)____
		      / __ `__ \/ _ \/ ___/ ___/ / _ \/ ___/
		     / / / / / /  __(__  |__  ) /  __/ /    
		    /_/ /_/ /_/\___/____/____/_/\___/_/  

	     Copyright 2013 - Messi?r/Chris Karcz - ckarcz@gmail.com

	This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>